:root{
    --bg: white;
    --bg-secondary: #f6f6f6;
    --text: black;
    --color-primary: #acc3d1;

    --margin-base: 10px;
    --radius-base: 3px;
}

@media (prefers-color-scheme: dark) {
    :root{
        --bg: #2e3035;
        --bg-secondary:#404248;
        --text: white;
        --color-primary: #72aed396 
    }
}


html, body{
    height: 100%;
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  flex-direction: column;
  position: relative;

}

.main{
    height: 100%;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.drop-box{
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-base);

    
    margin-bottom: var(--margin-base);

    border: 1px solid var(--color-primary);
    background-color: var(--bg-secondary);
    color: var(--text);
}

.drop-box.is-dragover {
    opacity: 0.5;
}

.btn.primary{
    background-color: var(--color-primary);
    border-radius: var(--radius-base);
    border:none;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: var(--text);
    
}

.btn:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.shadow{
    box-shadow: 2px 2px 7px 0px #0000004d;
}

.preview-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#preview{
    position: relative;
    height: 66%;
    width: 66%;
    margin-top: var(--margin-base);
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

form {
    width: fit-content;
}

a, a:visited{
    color:var(--text);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.copy-wrapper{
    width: fit-content;
    margin: auto;
}

.link-wrapper{
    padding: 5px 15px;
    background-color: white;
    border-radius: var(--radius-base);

    
    border: 1px solid black;
}

.link-wrapper #link {
    color: black;

}

.alert{
    position: absolute;
    bottom: 100px;
}

.next-wrapper{
    position: absolute;
    bottom: 50px;
    right: 50px;

}

.next{

}